# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
/.idea/*
/.idea/aws.xml
/.idea/compiler.xml
/.idea/encodings.xml
/.idea/sonarlint/issuestore/index.pb
/.idea/sonarlint/securityhotspotstore/index.pb
/.idea/jarRepositories.xml
/.mvn/wrapper/maven-wrapper.properties
/.idea/misc.xml
/moni.iml
/mvnw
/mvnw.cmd
/.idea/uiDesigner.xml
/.idea/vcs.xml
/target/*
/target/surefire-reports/2023-08-28T23-41-24_095-jvmRun1.dump
/target/surefire-reports/2023-08-28T23-41-24_095-jvmRun1.dumpstream
/target/classes/application-dev.properties
/target/surefire-reports/com.pekka.moni.MoniApplicationTests.txt
/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/target/moni-0.0.1-SNAPSHOT.jar.original
/target/maven-archiver/pom.properties
/target/surefire-reports/TEST-com.pekka.moni.MoniApplicationTests.xml
/.idea/dataSources.xml
/logs/app.log.2023-08-29.0.gz
